---
layout: default
title: Posts
permalink: /blog/
---

{% include header_small.html %}
<h2 id="blog">Blog</h2>
<hr class="bar-blog">

{% for post in site.categories['blog'] limit:3 %}
<div class="post-header title">
    <a href="{{ site.github.url }}{{ post.url }}">
        <h1 class="post-title">{{ post.title }}</h1>
    </a>
</div>
<div class="post-header date">
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y — %H:%M" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
</div>
{% endfor %}
<hr class="bar-blog">
<div class="temp-posts">

</div>
