<section class="section-contact">
    <h2 id="Details">
        Contact Details
    </h2>
    <hr class="bar"/>
    <div class="social-links">
        <a href="https://www.facebook.com/matheus.vellone">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://www.linkedin.com/in/matheus-vellone/">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://github.com/matheusvellone">
            <div class="glyph-icon flaticon-github"></div>
        </a>
        <a href="https://stackoverflow.com/users/3604173/matheus-vellone">
            <div class="glyph-icon flaticon-stackoverflow"></div>
        </a>
    </div>
    <hr class="bar"/>
    <a href="mailto:example@gmail.com" class="biglink">
        matheusvellone@hotmail.com
    </a>
</section>