<div id="container1" class="arrow"></div>
<div id="container" class="logo"></div>
<header id="home">
    <nav>
        <a href="#about-me">
            About Me
        </a>
        <a href="#experience">
            Experience
        </a>
        <a href="#blog">
            Blog
        </a>
        <a href="#contact">
            Contact Me
        </a>
    </nav>
    <h1>
        <span>
            {{ site.my.name }}
        </span>
    </h1>
    <p class="kicker">
        Developer
    </p>
</header>