<div id="container1" class="arrow"></div>
<a href="{{ site.github.url }}" class="logo"></a>
<header id="home">
    <nav>
        <a href="{{ site.github.url }}/#about-me">About Me</a>
        <a href="{{ site.github.url }}/#experience">Experience</a>
        <a href="{{ site.github.url }}/#blog">Blog</a>
        <a href="{{ site.github.url }}/#contact">Contact Me</a>
    </nav>
    <h1 class="header-name">
        <span>{{ site.name }}</span>
    </h1>
    <p class="kicker">Developer</p>
</header>