@import "main/0-tools/bourbon/bourbon";
@import "main/0-tools/normalize";
@import "main/0-tools/fonts";
@import "main/0-tools/icons";
@import "main/0-tools/flaticon";
@import "main/1-base/vars";
@import "main/1-base/base";
@import "main/1-base/layout";
@import "main/1-base/mixins";
@import "main/1-base/placeholders";
@import "main/3-sections/header";
@import "main/3-sections/page";
@import "main/3-sections/footer";
@import "main/3-sections/about";
@import "main/3-sections/contact";
@import "main/3-sections/history";
@import "main/3-sections/message";
@import "main/3-sections/portfolio";
@import "main/3-sections/post";
@import "main/3-sections/headersmall";
@import "main/3-sections/projects";
@import "main/3-sections/posts";
