.section-contact {
  background: #e5eaee;
  text-align: center;
}

.social-links {
  max-width: 700px;
  margin: 0px auto 50px;

  @include display(flex);
  @include justify-content(space-around);

  .glyph-icon {
    &:hover {
      @include transform(scale(1.2));
    }
  }

  .glyph-icon:before {
    display: block;
    font-size: 60px;
    line-height: 70px;
    color: $color-1;

    @include transition;

    margin-left: 0;
  }
}

.bar {
  width: 250px;
  height: 0px;
  margin: 40px auto 40px;
  border-top: 4px solid $color-1;
}

.bar-blog {
  width: 250px;
  height: 0px;
  margin: 20px auto 20px;
  border-top: 4px solid $color-1;
}

.blog-end {
  padding-top: 100px;
}

.contact-email {
  display: inline-block;
  margin-bottom: 70px;
  color: $color-1;
  font: {
    size: 30px;
    weight: 300;
  };
}